.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 140px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.layout{
	background-color: black;
	height: 780px;
	width: 340px;

	color: white;
	max-width: 100%;
	max-height: 100%;

}

.display{

	width: 95%;
	height: 20%;
	color: white;
	font-style: bold;
	background-color: black;
  border: 4px inset  #cc0000;

}

#text{
	color: white;
	font-style: bold;
	background-color: black;
	border: none;
	height: 100%;
	width: 100%;
	position: relative;
	text-align: left;
	font-size: 60px;
	text-align: right;
}

.numpad{
	width: 100%;
	height: 80%;
	padding: 0px;
}

button{
	border-radius: 5%;
	border: none;
	width: 100%;
	height: 100%;
	color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 2px 1px;
    background-color:#FF6600;
    font-style: bold;
}

button:hover {background-color: #ff751a}

button:active {
  background-color: #ff751a;
  box-shadow: 0 2px #666;
  transform: translateY(1px);
}


